<h2>Anime Home Page!</h2>

<form action="/anime/results" method="GET">
    <label for="anime title input">Search for an anime:</label>
    <input type="text" name="animeSearch">
    <input type="submit" class="btn btn-info">
</form>
<br><br>
<form action="/character/characterResults" method="GET">
    <label for="character input">Search for a character:</label>
    <input type="text" name="characterSearch">
    <input type="submit" class="btn btn-info">
</form>
