<h2><%= currentUser.name %>'s Profile</h2>
<h3>
    Favorite Anime's Watched:
</h3>

<%if(results === undefined) {%>
    <h3>No Favorites Found</h3>
    <small>No favorite found, please try again</small>
<%} else {%>
    <ul>
        <%results.forEach(function(result) {%>
            <li>
                <a href="/anime/<%=result.animeId%>">
                    <%=result.name%>
                </a>
            </li>
            <%})%>
    </ul>
<%}%>