<%if(results === undefined) {%>
    <h3>No Animes Found</h3>
    <small>No anime found, please try again</small>
<%} else {%>
    <ul>
        <%results.forEach(function(result) {%>
            <li>
                <a href="/anime/<%=result.mal_id%>">
                    <%=result.title%>
                </a>
            </li>
            <%})%>
    </ul>
<%}%>

<link rel="stylesheet" href="/static/css/standard.css">